<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740979013093-rbqgs0d09mhhoseiaih58hes108sj3pk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740979013093-rbqgs0d09mhhoseiaih58hes108sj3pk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>740979013093-7530sk5orlo533v7d12o8ftobg2lj1dr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCb_0EWEA-B9FtMe4ovChqXpf3Sy3o-mRU</string>
	<key>GCM_SENDER_ID</key>
	<string>740979013093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.therichonline.therichonline</string>
	<key>PROJECT_ID</key>
	<string>therichonline-database</string>
	<key>STORAGE_BUCKET</key>
	<string>therichonline-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740979013093:ios:b8545b74625b3708b22b0c</string>
</dict>
</plist>