<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>26184870649-3j2fidhsv1tha338tds9tnu8e7bakmvk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26184870649-3j2fidhsv1tha338tds9tnu8e7bakmvk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>26184870649-b1mlsp1oiasftuofl0eukokl9q37b4hu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBiCJLksNR9W6JX8tbPJqFJvslcDj8efq4</string>
	<key>GCM_SENDER_ID</key>
	<string>26184870649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thanasarn.rich.rich</string>
	<key>PROJECT_ID</key>
	<string>flutter-video-audio-chat-baf9c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-video-audio-chat-baf9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26184870649:ios:887a732db7bd11ce621028</string>
</dict>
</plist>